<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <p>登录界面</p>
    <form id="loginForm">
        账号： <input type="text" name="username">
        密码： <input type="password" name="password">
        <input type="submit" value="登录">
    </form>
</body>
<script>
    document.getElementById("loginForm").addEventListener('submit',function (e){
        e.preventDefault();//阻止表单自动提交
        const formData = new FormData(this)
        const username = formData.get("username")
        const password = formData.get("password")
        //数据格式验证
        console.log(username)
        console.log(password)
        axios.get('/user',formData).then((res)=>{
            alert(res.data.msg);
            if(res.data.code == 1){
                window.location.href = '/profile';
            }else return;
        })
    })
</script>
</html>