<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人资料页面</title>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <p>个人资料</p>
    <div id="app">
        <p>欢迎{{user.username}}</p>
        <p>你的id为{{user.id}}</p>
    </div>
    <input type="button" value="退出登录" onclick="quit()">
</body>
    <script>
        new Vue({
            el: '#app',
            data:{
                user: null,
            },
            mounted(){//当页面元素加载完成后立马执行
                const token = localStorage.getItem('jwtToken');
                if(token == null){
                    alert("您未登录，请登录后查看");
                    window.location.href = '/login';
                }

                const headers = {//设置请求头
                    'token': token
                }
                console.log(token);
                axios.post("/user/profile",null,{headers}).then((res)=>{//发送请求验证是否登录
                    alert(res.data.msg);
                    if(res.data.code == 0){
                        window.location.href = '/login';
                    }else{
                        this.user = res.data.data;
                    }
                })
            }
        })
        function quit(){
            if(window.confirm("退出登录？")){
                localStorage.removeItem('jwtToken');
                window.location.href = '/login';
            }else return;
        }
    </script>
</html>